* {
    box-sizing: border-box;
}

.calculatorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 500px;
    margin: auto;
}

#numberInput {
    padding: 40px;
    width: 500px;
    margin-bottom: 20px;
}

.operatorContainer {
    display: flex;
    max-width: 500px;
    margin-bottom: 20px;
}

.numbersContainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
}

.number {
    width: 100px;
    height: 100px;
    font-size: 18px;
}

.operator {
    width: 100px;
    height: 100px;
    font-size: 18px;
}

#equalButton,
#clearButton {
    width: 100px;
    height: 100px;
    font-size: 18px;
}